<p-toast position="bottom-center" />

@if(loading) {
<p-progressSpinner
    styleClass="w-4rem h-4rem"
    style="
        position: absolute;
        top: 50%;
        right: 50%;
        z-index: 5;
        transform: translate(50%, 50%);
    "
    strokeWidth="8"
    fill="var(--surface-ground)"
    animationDuration=".5s"
/>
}

<div
    class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden"
>
    <div class="flex flex-column align-items-center justify-content-center p-3">
        <img
            src="assets/config/logo-text.png"
            alt="Habit Track logo"
            class="mb-5 w-15rem flex-shrink-0"
        />

        <div class="w-full surface-card py-4 px-5 sm:px-8 border-round">
            <div class="text-center mb-5">
                <div class="text-900 text-3xl font-bold mb-3">Bem-vindo</div>
            </div>

            <form [formGroup]="usuarioForm" (ngSubmit)="login()" novalidate>
                <label
                    for="email"
                    class="block text-900 text-xl font-medium mb-2"
                    >Email</label
                >
                <input
                    formControlName="email"
                    type="text"
                    id="email"
                    placeholder="Seu e-mail"
                    aria-describedby="email-error"
                    pInputText
                    class="w-full"
                    style="padding: 1rem"
                    required
                />
                @if (usuarioForm.get('email').invalid &&
                (usuarioForm.get('email').dirty ||
                usuarioForm.get('email').touched) ) {
                <small class="text-red-500 mt-2 block" id="email-error">{{
                    getErrorMessage("email")
                }}</small>
                }

                <label
                    for="password"
                    class="block text-900 font-medium text-xl mb-2 mt-5"
                    >Senha</label
                >
                <p-password
                    formControlName="senha"
                    id="password"
                    placeholder="Sua senha"
                    class="w-full"
                    [toggleMask]="true"
                    [feedback]="false"
                    required
                ></p-password>

                @if (usuarioForm.get('senha').invalid &&
                (usuarioForm.get('senha').dirty ||
                usuarioForm.get('senha').touched) ) {
                <small class="text-red-500 mt-2 block" id="email-error">{{
                    getErrorMessage("senha")
                }}</small>
                }

                <button
                    pButton
                    pRipple
                    label="Entrar"
                    class="w-full mt-5 p-3 text-xl"
                    type="submit"
                    [disabled]="!usuarioForm.valid"
                ></button>

                <p class="mt-3 text-center">
                    Não tem uma conta?
                    <a
                        class="font-bold no-underline cursor-pointer"
                        routerLink="../signup"
                        >Cadastre-se</a
                    >
                </p>
            </form>
        </div>
    </div>
</div>
