<p-toast position="bottom-center" />

@if(loading) {
<p-progressSpinner
    styleClass="w-4rem h-4rem"
    style="
        position: absolute;
        top: 50%;
        right: 50%;
        z-index: 5;
        transform: translate(50%, 50%);
    "
    strokeWidth="8"
    fill="var(--surface-ground)"
    animationDuration=".5s"
/>
}

<div
    class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden"
>
    <div class="flex flex-column align-items-center justify-content-center p-3">
        <img
            alt="Habit Track logo"
            class="mb-5 w-15rem flex-shrink-0"
            src="assets/config/logo-text.png"
        />

        <div class="w-full surface-card py-4 px-5 sm:px-8 border-round">
            <div class="text-center mb-5">
                <div class="text-900 text-3xl font-bold mb-3">
                    Crie sua conta
                </div>
            </div>

            <form [formGroup]="usuarioForm" (ngSubmit)="signup()" novalidate>
                <label
                    class="block text-900 text-xl font-medium mb-2"
                    for="nome"
                    >Nome</label
                >
                <input
                    formControlName="nome"
                    id="nome"
                    type="text"
                    placeholder="Seu nome completo"
                    pInputText
                    class="w-full"
                    style="padding: 1rem"
                    required
                />
                @if (usuarioForm.get('nome').invalid &&
                (usuarioForm.get('nome').dirty ||
                usuarioForm.get('nome').touched) ) {
                <small class="text-red-500 mt-2 block" id="nome">{{
                    getErrorMessage("nome")
                }}</small>
                }
                <!-- <input
                    id="nome"
                    type="text"
                    [(ngModel)]="nome"
                    placeholder="Seu nome completo"
                    pInputText
                    class="w-full mb-5"
                    style="padding: 1rem"
                    required
                /> -->

                <label
                    class="block text-900 text-xl font-medium mb-2 mt-5"
                    for="email"
                    >Email</label
                >
                <input
                    formControlName="email"
                    type="text"
                    id="email"
                    placeholder="Seu e-mail"
                    pInputText
                    class="w-full"
                    style="padding: 1rem"
                    required
                />
                @if (usuarioForm.get('email').invalid &&
                (usuarioForm.get('email').dirty ||
                usuarioForm.get('email').touched) ) {
                <small class="text-red-500 mt-2 block" id="email-error">{{
                    getErrorMessage("email")
                }}</small>
                }

                <!-- <input
                    [(ngModel)]="email"
                    type="text"
                    id="email"
                    placeholder="Seu e-mail"
                    pInputText
                    class="w-full mb-5"
                    style="padding: 1rem"
                    required
                /> -->

                <label
                    class="block text-900 font-medium text-xl mb-2 mt-5"
                    for="password1"
                    >Senha</label
                >
                <p-password
                    id="password1"
                    formControlName="senha"
                    placeholder="Sua senha"
                    [toggleMask]="true"
                    inputStyleClass="w-full p-3"
                    [feedback]="false"
                    required
                ></p-password>
                @if (usuarioForm.get('senha').invalid &&
                (usuarioForm.get('senha').dirty ||
                usuarioForm.get('senha').touched) ) {
                <small class="text-red-500 mt-2 block" id="password1">{{
                    getErrorMessage("senha")
                }}</small>
                }

                <!-- <p-password
                    id="password1"
                    [(ngModel)]="senha"
                    placeholder="Sua senha"
                    [toggleMask]="true"
                    styleClass="mb-5"
                    inputStyleClass="w-full p-3"
                    [feedback]="false"
                    required
                ></p-password> -->

                <button
                    pButton
                    pRipple
                    label="Cadastrar"
                    class="w-full mt-5 p-3 text-xl"
                    type="submit"
                    [disabled]="!usuarioForm.valid"
                ></button>

                <!-- <button
                    pButton
                    pRipple
                    label="Cadastrar"
                    class="w-full p-3 text-xl"
                    (click)="signup()"
                ></button> -->

                <p class="mt-3 text-center">
                    Já tem uma conta?
                    <a
                        class="font-bold no-underline cursor-pointer"
                        routerLink="../login"
                        >Faça login</a
                    >
                </p>
            </form>
        </div>
    </div>
</div>
